<footer class="mt-auto border-top shadow-lg">
        <div class="container py-5">
          <div class="row gy-4 align-items-center">
            <div class="col-12 col-md-4 text-center text-md-start">
              <p>Défi-Delf<br>6, avenue des Lombards<br>10 000 TROYES <br>
                <a href="mailto:defidelf@laligue10.org"><i class="fa-solid fa-envelope text-primary"></i> defidelf@laligue10.org </a><br>
                <i class="fa-solid fa-phone text-primary"></i> 06 31 83 58 54</p>
            </div>
            <div class="col-12 col-md-4 text-center">
              <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a type="button" data-bs-toggle="modal" data-bs-target="#modalMentionsLegales" class="text-decoration-none text-dark">Mentions    légales</a>
                </li>
                <li>
                    <a href="{{ path('app_contact') }}" type="button" class="text-decoration-none text-dark">Contact</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/defidelf10" class="text-decoration-none text-primary"><i class="bi bi-facebook fs-3"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="text-decoration-none text-primary"><i class="bi bi-instagram fs-3"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalMentionsLegales" tabindex="-1" aria-labelledby="modalMentionsLegalesLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMentionsLegalesLabel">Mentions légales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ratione voluptatem quaerat quasi porro tempora molestias necessitatibus pariatur dolorum illo sequi voluptate aspernatur iusto, dolorem nobis, ut quos provident adipisci voluptates praesentium ad! Iusto odit minus, deserunt similique asperiores fugiat deleniti. Delectus est doloremque pariatur earum labore alias minus. Facilis hic recusandae facere quia officiis accusamus laborum laudantium suscipit. Corrupti eligendi consectetur voluptas iste in unde molestias omnis, consequatur placeat nihil eos dolores, est officiis, ullam explicabo excepturi id vel quis veniam accusamus quaerat. At repellat quisquam, tempore perferendis magni eveniet voluptatem atque iste, quod, illum id commodi sed asperiores!</p>
                    </div>
                </div>
            </div>
          </div>

    </footer>

