nav, footer {
    background-color: #a8d5eb;
}

main {
    background-color: rgb(255, 225, 225);
}

main h1 {
    color: #84197c;
}

main h2 {
    color: #7c8883;
}

.nav-item a:hover {
    color: white;
}

.active a{
    color: white;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.4);
    z-index: 10;
}