{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouvelles sessions DELF
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5 pt-5 w-50">
			<h1 class="my-5 pt-5 text-center fw-bold">Ajouter de nouvelles sessions DELF</h1>

			{{ include('admin/planning/_form.html.twig') }}

			<a href="{{ path('app_admin_planning_index') }}" class="btn btn-warning mt-2 mb-4">Retour à la liste</a>
		</div>
	</main>
{% endblock %}
