{% extends 'admin/admin_base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <div class="container mt-5 pt-5">
        <h1 class="mt-5 pt-5 text-center fw-bold">Bienvenue dans votre zone d'administration</h1>
        <img src="{{ asset('assets/images/backoffice.png')}}" class="d-block mx-auto my-4" width="500" alt="image backoffice">
    </div>
</main>

{% endblock %}
