{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

    <main>
        <section class="mt-5 py-5">
            <div class="container">
                <h1 class="mt-5 pt-5 text-center fw-bold mb-4">Actualités</h1>
                {% for article in articles | reverse %}
                    <div class="row mt-5 pb-4 border-bottom border-primary">
                        <div class="col-12 col-lg-4">
                            <img src="{{ article.thumbnail }}" class="d-block mx-auto" width="300" height="200" alt="">
                        </div>
                        <div class="col">
                            <p class="text-end text-warning"><u><em>{{ article.createdAt | date("d/m/Y") }}</em></u></p>
                            <h2 class="text-center mt-4">{{ article.title }}</h2>
                            <p class="mt-4 justify">{{ article.content | raw}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}