{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

<main>

  <section class="mt-5 py-5">
            <div class="container">
                <div class="row mt-5 pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6 order-2 order-md-0">
                        <h3>France info</h3>
                        <p><a href="https://france3-regions.francetvinfo.fr/grand-est/aube/troyes/60-migrants-s-entrainent-pour-passer-le-diplome-d-etudes-en-langues-francaises-la-loi-sur-l-immigration-met-la-pression-sur-le-niveau-de-francais-2907773.html">60 migrants s’entrainent pour passer le diplôme d’études en langues françaises, "la loi sur l’immigration met la pression sur le niveau de français"</a></p>
                        <h3 class="mt-5">L'Est éclair</h3>
                        <img src="{{ asset('assets/images/journal_15-10-2023.jpg') }}" width="100%" alt="">
                    </div>
                    <div class="col-12 col-md-6 order-1">
                        <h1 class="text-center fw-bold text-uppercase mb-4 mb-md-0">La presse parle de nous</h1>
                    </div>
                </div>
            </div>
        </section>

</main>

{% endblock %}
