{% extends 'base.html.twig' %}

{% block title %}Défi-Delf
{% endblock %}

{% block body %}
	<main class="mt-5 pt-5">
		<div class="container">
			<p class="mt-5 pt-5 text-center"><em>"L'étranger, qui est malhabile à parler la langue, risque toujours d'être sans défense devant le droit du pays qui l'accueille ou qui l'expulse."</em></p>
			<p class="text-end text-decoration-underline">Jacques Derrida (philosophe français)</p>
			<h1 class="pt-4 text-center fw-bold">Apprendre le français pour s'intégrer</h1>
			<p class="pt-5 justify">L’association Défi-Delf à but non lucratif, fondée en janvier 2023 à Troyes, est le fruit d'une équipe de bénévoles engagés et venant d’horizons variés.</p>
			<p class="justify">L’objectif principal de l’association Défi-Delf est de favoriser l'insertion sociale, professionnelle et culturelle des adultes étrangers allophones en leur enseignant le français, à travers des cours du soir adaptés à leurs emplois du temps chargés. Notre approche pédagogique met l'accent sur la communication en français dans des contextes de la vie quotidienne, professionnelle et sociale, favorisant ainsi un apprentissage dynamique.</p>
			<p class="justify">Nous proposons également une préparation spécifique pour le Diplôme d'Études en Langue Française (DELF), en collaboration avec France Education international. Des sessions officielles d'entraînement agrées sont ouvertes à tous, permettant aux apprenants de se préparer dans un environnement d'examen et de développer des compétences essentielles à la réussite des épreuves officielles.</p>
			<div class="row pt-5">
				<div class="col">
					<img class="mb-5" src="{{asset('assets/images/accueil.jpg')}}" width="100%" alt="bannière groupe">
				</div>
			</div>
		</div>
	</main>


{% endblock %}
