{% extends 'base.html.twig' %}

{% block title %}Défi-Delf{% endblock %}

{% block body %}
    <main class="mt-5 pt-5">
        <div class="container">
        <h1 class="mt-5 pt-5 text-center">Apprendre le français pour s'intégrer</h1>
        <p class="pt-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero ad officia, suscipit sequi pariatur nesciunt atque repellendus vero facere totam ullam esse! Quis hic tempore numquam unde! Quam quod magnam aperiam, eveniet ipsum perspiciatis velit nisi deleniti at molestias veritatis modi reiciendis explicabo incidunt voluptas vel, voluptatum aspernatur sunt.</p>
            <div class="row pt-5">
                <div class="col">
                    <img src="{{asset('assets/images/accueil.jpg')}}" width="100%" alt="bannière groupe">
                </div>
            </div>
        </div>
    </main>
    
    
{% endblock %}
