{% extends 'base.html.twig' %}

{% block title %}Evènements
{% endblock %}

{% block body %}

	<main>
		<section class="mt-5 pt-5 container">
			<div class="mt-5 pt-5">
				<h1 class="fw-bold text-center">Ils nous soutiennent</h1>
                <div class="mt-5">
                    <div class="row gy-4 mb-4 d-flex align-items-center">
                        {% for partner in partners %}
                            <div class="col-12 col-lg-3">
                                <img src="{{ vich_uploader_asset(partner, 'thumbnailFile') }}" class="w-75 d-block mx-auto" alt="Logo du partenaire">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</section>
	</main>

	{% endblock %}
