{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

<main>
    <section class="mt-5 pt-5 container">
        <div class="mt-5 pt-5">
            <h1 class="pt-4 fw-bold text-center text-uppercase">Ils nous soutiennent</h1>
        </section>

</main>

{% endblock %}