{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <main>
        <section class="mt-5 py-5">
            <div class="container">
                <h1 class="mt-5 pt-5 text-center fw-bold text-uppercase mb-4 mb-md-0">Présentation - Projet pédagogique</h1>
                <div class="row mt-3 pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <h2>Défi-Delf, une nouvelle association insérée dans le paysage aubois</h2>

                        <a data-bs-toggle="offcanvas" href="#offcanvasNew" role="button" aria-controls="offcanvasNew"><i class="bi bi-arrow-right-circle fs-3"></i></a>

                        <div class="offcanvas offcanvas-top" data-bs-scroll="true" tabindex="-1" id="offcanvasNew" aria-labelledby="offcanvasNewLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title d-block m-auto" id="offcanvasNewLabel">L'association</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="">
                                Fondée en janvier 2023, notre association à but non lucratif est le fruit de l'engagement d’une équipe de bénévoles, aux profils et expériences variés : salariés en activité, anciens éducateurs, assistants sociaux, responsables associatifs ou enseignants à la retraite, étudiants de l’Inspé. Elle s’adresse à des adultes étrangers allophones.
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6 text-center">
                        <h2>Cours en soirée pour des adultes étrangers très motivés</h2>
                        
                        <a data-bs-toggle="offcanvas" href="#offcanvasCourses" role="button" aria-controls="offcanvasCourses"><i class="bi bi-arrow-right-circle fs-3 text-danger"></i></a>

                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCourses" aria-labelledby="offcanvasCoursesLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title d-block m-auto" id="offcanvasCoursesLabel">Les cours</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="">
                                Notre mission principale, basée sur le volontariat des « apprenants » étrangers, est de favoriser l'insertion sociale, professionnelle et culturelle par l'apprentissage de la langue française, à la fois orale et écrite. Grâce au partenariat avec l’institut national supérieur du professorat et de l'éducation (Inspé), nos cours sont proposés, en début de soirée, trois fois par semaine, pour s’adapter aux salariés et à ceux qui ont des emplois du temps chargés.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="col-12 col-md-6 text-center">
                        <h2>Une pédagogie active</h2>
                        
                        <a data-bs-toggle="offcanvas" href="#offcanvasPeda" role="button" aria-controls="offcanvasPeda"><i class="bi bi-arrow-right-circle fs-3 text-warning"></i></a>

                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasPeda" aria-labelledby="offcanvasPedaLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title d-block m-auto" id="offcanvasPedaLabel">La pédagogie</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="">
                                Nous nous efforçons de fournir une formation de qualité, axée sur la participation active et l'interaction entre les apprenants. Pour ce faire, nous utilisons des méthodes pédagogiques actives, favorisant ainsi un apprentissage dynamique et stimulant.
                                Les visites organisées ou l’analyse de documents authentiques permettent une immersion culturelle et renforce ainsi la compréhension de la société française et de ses valeurs.
                                De plus, nous intégrons l'utilisation d'outils informatiques afin de maximiser l'efficacité de notre enseignement.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6 text-center">
                        <h2 class="">Des évaluations fiables et reconnues</h2>
                        
                        <a data-bs-toggle="offcanvas" href="#offcanvasEval" role="button" aria-controls="offcanvasEval"><i class="bi bi-arrow-right-circle fs-3 text-success"></i></a>

                        <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasEval" aria-labelledby="offcanvasEvalLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title d-block m-auto" id="offcanvasEvalLabel">L'évaluation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="">
                                Nous proposons également une préparation spécifique pour les apprenants souhaitant passer l'examen du DELF (Diplôme d'Études en Langue Française).
                                Grâce à notre partenariat avec le Centre International d'Etudes Françaises (CIEF) de l'Université, nous sommes reconnus par France Éducation International (FEI) comme leur centre d'entraînement au DELF pour le département de l'Aube.
                                France Éducation International (FEI) propose des sujets blancs du DELF et corrige les travaux suivant leurs critères officiels.
                                Les résultats de ces tests fournis par FEI, permettent aux apprenants d'obtenir une évaluation externe et de qualité, offrant une validation tangible de leur progression et des progrès attendus.
                                Ils permettent d’avoir une évaluation objective assurée par un organisme agréé et de mettre en place des modules de formation adaptés.
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <h1 class="text-center fw-bold text-uppercase mb-4 mb-md-0 order-1">L'équipe</h1>
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6">
                   
                    </div>
                    <div class="col-12 col-md-6">
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
