{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <main>
        <section class="mt-5 py-5">
            <div class="container">
                <div class="row mt-5 pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6">
                        <h1 class="text-center fw-bold text-uppercase text-primary mb-4 mb-md-0">Présentation - Projet pédagogique</h1>
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="text-center">Défi-Delf, une nouvelle association insérée dans le paysage aubois</h2>
                        <p class="my-4">Fondée en janvier 2023, notre association à but non lucratif est le fruit de l'engagement d’une équipe de bénévoles, aux profils et expériences variés : salariés en activité, anciens éducateurs, assistants sociaux, responsables associatifs ou enseignants à la retraite, étudiants de l’Inspé. Elle s’adresse à des adultes étrangers allophones.</p>
                        <h2 class="text-center">Cours en soirée pour des adultes étrangers très motivés</h2>
                        <p class="my-4">Notre mission principale, basée sur le volontariat des « apprenants » étrangers, est de favoriser l'insertion sociale, professionnelle et culturelle par l'apprentissage de la langue française, à la fois orale et écrite. Grâce au partenariat avec l’institut national supérieur du professorat et de l'éducation (Inspé), nos cours sont proposés, en début de soirée, trois fois par semaine, pour s’adapter aux salariés et à ceux qui ont des emplois du temps chargés.</p>
                        <h2 class="text-center">Une pédagogie active</h2>
                        <p class="my-4">Nous nous efforçons de fournir une formation de qualité, axée sur la participation active et l'interaction entre les apprenants. Pour ce faire, nous utilisons des méthodes pédagogiques actives, favorisant ainsi un apprentissage dynamique et stimulant.
                            Les visites organisées ou l’analyse de documents authentiques permettent une immersion culturelle et renforce ainsi la compréhension de la société française et de ses valeurs.
                            De plus, nous intégrons l'utilisation d'outils informatiques afin de maximiser l'efficacité de notre enseignement.</p>
                        <h2 class="text-center">Des évaluations fiables et reconnues</h2>
                        <p class="my-4">Les résultats de ces tests fournis par FEI, permettent aux apprenants d'obtenir une évaluation externe et de qualité, offrant une validation tangible de leur progression et des progrès attendus.
                            Ils permettent d’avoir une évaluation objective assurée par un organisme agréé et de mettre en place des modules de formation adaptés.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6 order-2 order-md-0">
                   
                    </div>
                    <div class="col-12 col-md-6">
                        <h1 class="text-center fw-bold text-uppercase text-primary mb-4 mb-md-0 order-1">L'équipe</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
