{% extends "front/display/courses/courses_base.html.twig" %}


{% block body %}
<main>
	<div class="container text-center my-5 pt-5">
		<h1 class="my-5 pt-5 fw-bold">Bienvenue sur votre plateforme de cours</h1>
		<div class="row g-4 d-flex justify-content-center align-items-center">
			<a href="" class="col-6 col-md-3 bg-primary mx-2 d-flex justify-content-center align-items-center rounded-5 zoom text-decoration-none" style="height: 285px;">
			<div>
				<h3 class="p-5 text-black">Compréhension orale</h3>
			</div>
			</a>
			<a href="" class="col-6 col-md-3 bg-secondary mx-2 d-flex justify-content-center align-items-center rounded-5 rounded-5 zoom text-decoration-none" style="height: 285px;">
			<div>
				<h3 class="p-5 text-black">Compréhension écrite</h3>
			</div>
			</a>
			<div class="col-6 col-md-3 bg-success mx-2 d-flex justify-content-center align-items-center rounded-5 zoom" style="height: 285px;">
				<h3 class="p-5">Production orale</h3>
			</div>
			<div class="col-6 col-md-3 bg-danger mx-2 d-flex justify-content-center align-items-center rounded-5 zoom" style="height: 285px;">
				<h3 class="p-5">Production écrite</h3>
			</div>
			<div class="col-6 col-md-3 bg-warning mx-2 d-flex justify-content-center align-items-center rounded-5 zoom" style="height: 285px;">
				<h3 class="p-5">Phonétique</h3>
			</div>
			<div class="col-6 col-md-3 bg-info mx-2 d-flex justify-content-center align-items-center rounded-5 zoom" style="height: 285px;">
				<h3 class="p-5">A retenir</h3>
			</div>
		</div>

		<section>
			{% for course in courses %}
				<div>
					<a href="{{ vich_uploader_asset(course, 'fileFile') }}">Vidéo</a>
				</div>
			{% endfor %}
		</section>
	</div>
</main>
{% endblock %}