<p>Une nouvelle production écrite a été reçue</p>

<ul>
    <li>Prénom : {{data.firstname}}</li>
    <li>Nom : {{data.lastname}}</li>
    <li>Email : {{data.email}}</li>
</ul>

<p>
    <strong>Texte</strong>:<br>
    {{ data.text | nl2br }}
</p>