{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5 pt-5">
			<h1 class="mt-5 pt-5 text-center fw-bold">Ajouter un nouvel article</h1>

			{{ include('admin/article/_form.html.twig') }}

			<a href="{{ path('app_admin_article_index') }}" class="btn btn-warning mt-2 mb-4">Retour à la liste</a>
		</div>
	</main>
{% endblock %}
