{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}
<main>
    <div class="container my-5 pt-5">
        <h1 class="my-5 pt-5 fw-bold text-center">Ajouter un nouveau cours</h1>

        {{ include('admin/course_crud/_form.html.twig') }}

        <a href="{{ path('app_admin_course_index') }}" class="btn btn-warning mt-2">Retour liste</a>
    </div>
</main>
{% endblock %}
