{{ form_start(form) }}
    <div class="fw-bold">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
